{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'px-4',
    'mx-auto', 
    'sm:px-0',
    'py-6',
    'container'

  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="grid grid-cols-1 gap-12 border-b lg:grid-cols-4 lg:gap-24 border-bc-coral-300">

      <div class="lg:col-span-3">
        <div class="!max-w-screen-md mb-8 prose">
          {{ drupal_entity('block_content', '2') }}
        </div>  
        <div>
          {{ drupal_entity('block_content', '7') }}
        </div> 
      </div>

      <div class="lg:col-span-1">
        <div class="prose mb-14">
          {{ drupal_menu('footer') }}
        </div>
        <div class="prose">
          {{ drupal_entity('block_content', '6') }}
        </div>  
      </div>   

    </div>

    <div class="!max-w-none prose">
     {{ drupal_entity('block_content', '9') }}
    </div> 
  </div>
{% endif %}
